.product {
  width: 100%;
  height: 100%;
  box-shadow: 3px 3px 10px 0 #ccc;
  padding: 20px 0 20px 0;
  background: #fbfbfb;
  display: flex;
  flex-direction: row;
}

.product__image img {
  width: 300px;
  height: 300px;
  padding: 10px;
}

.product__items {
  width: 100%;
  padding: 10px 0 10px 10px;
}

.product__label {
  border-bottom: 0.3px solid rgba(70, 163, 88, 0.5);
}

.product__title {
  margin: 5px auto;
  font-family: Cera Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  color: #3d3d3d;
}

.product__price {
  font-family: Cera Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 16px;
  color: #46a358;
  margin: 10px auto;
}

.description__title,
.category__title {
  font-family: Cera Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 16px;
  color: #3d3d3d;
}

.description,
.category {
  font-family: Cera Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #727272;
}
