.card {
  width: 250px;
  height: 350px;
  box-shadow: 3px 3px 10px 0 #ccc;
  padding-bottom: 20px;
  background: #fbfbfb;
  display: flex;
  flex-direction: column;
}

.card__image img {
  width: 250px;
  height: 250px;
}

.card__title {
  font-family: Cera Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  color: #3d3d3d;
  margin: 5px auto;
}

.card__price {
  font-family: Cera Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 16px;
  color: #46a358;
  margin: 5px auto;
}
