.button_green {
  width: 140px;
  height: 35px;
  border-radius: 6px;
  background: #46a358;
  color: #ffffff;
  font-family: Cera Pro;
  font-style: normal;
  font-weight: bold;
  border-color: #46a358;
  padding: 0;
  margin: 10px;
  cursor: pointer;
}

.button_green:hover {
  box-shadow: rgba(46, 164, 79, 0.4) 0 0 0 3px;
}

.button_green:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}

.button_green:disabled {
  background-color: #cee0d3;
  box-shadow: none;
  border: none;
  cursor: not-allowed;
}
