.myModal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  background: rgba(0, 0, 0, 0.5);
}

.myModalContent {
  padding: 25px;
  background: white;
  border-radius: 16px;
  min-width: 500px;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.myModal.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}

.form__title,
.form__input {
  margin: 10px;
}

.form__title {
  font-family: Cera Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 16px;
  color: #46a358;
}

.form__label {
  font-family: Cera Pro;
  font-style: normal;
  font-weight: normal;
  color: #3d3d3d;
}

.form__input {
  width: 300px;
  height: 40px;
  border: 2px solid #787878;
  box-sizing: border-box;
  border-radius: 10px;
  font-family: Cera Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #a5a5a5;
  padding: 7px 0 7px 15px;
}
